.welcome-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  /* transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem); */
}

.welcome-text {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -15rem;
  position: relative;
  background-color: white;
  color: black;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgb(0 0 0 / 25%);
}
