.slider-box {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-800px * 4));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 600px;
  position: absolute;
  width: 20px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(800px * 4);
}
.slider .slide {
  height: 600px;
  width: 800px;
}

@media (min-width: 530px) {
  .slider::before,
  .slider::after {
    width: 70px;
  }
}

@media (min-width: 830px) {
  .slider::before,
  .slider::after {
    width: 100px;
  }
}

@media (min-width: 1030px) {
  .slider::before,
  .slider::after {
    width: 150x;
  }
}

@media (min-width: 1230px) {
  .slider::before,
  .slider::after {
    width: 200x;
  }
}

.welcome-text {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -15rem;
  position: relative;
  background-color: white;
  color: black;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgb(0 0 0 / 25%);
}
