.image {
  background-color: rgb(232, 233, 229);
  border-radius: 1rem;
  width: 100%;
}

.select {
  padding: 10px;
  margin-right: 20px;
  height: 3rem;
}

.button {
  all: initial;
  color: black;
  font-size: 2rem;
  margin: 0 0.5rem;
}

.amount {
  border: 1px solid black;
  padding: 10px;
  height: 3rem;
  border-radius: 10px;
}
