.product-title {
  text-align: center;
  margin-top: 5rem;
}

.product-container {
  display: flex;
  flex-flow: column wrap;
}

.product-image {
  background-color: rgb(232, 233, 229);
  width: 80%;
  border-radius: 1rem;
  margin: 0 auto;
}

.product-description {
  margin-top: 2rem;
  text-align: justify;
  padding: 0 2rem;
}

.product-price {
  text-align: center;
  font-weight: bold;
}

.product-color,
.product-sizes,
.product-cart {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  margin-top: 1rem;
  align-items: center;
}

.product-color,
.product-sizes > p {
  font-weight: bold;
}

.product-color-items {
  display: flex;
  justify-content: space-around;
  background-color: #acb7e6;
  padding: 0.5rem;
  border-radius: 20px;
}

.product-color-item {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.product-color-item.active {
  border: 2px solid #f89603;
}

.product-select {
  padding: 10px;
}

.product-amount {
  display: flex;
}

.product-amount button {
  all: initial;
  color: black;
  font-size: 2rem;
  margin: 0 0.5rem;
}

.product-amount p {
  border: 1px solid black;
  padding: 10px;
  height: 3rem;
  border-radius: 10px;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-button {
  margin: 0.5rem 0;
}

@media (min-width: 530px) {
  .product-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 250px 250px;
    grid-template-rows: 1fr repeat(3, 0.3fr);
  }

  .product-image {
    align-self: center;
  }

  .product-description {
    margin-top: 2rem;
    text-align: justify;
    padding: 0 0.5rem;
  }

  .product-cart {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
  }

  .product-amount,
  .product-price {
    margin: 0 5rem;
  }

  .product-buttons {
    display: initial;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    margin: 3rem 0;
  }

  .product-button {
    margin: 0 0.5rem;
  }
}

@media (min-width: 820px) {
  .product-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr repeat(3, 0.3fr);
  }

  .product-image {
    align-self: center;
  }

  .product-description {
    margin-top: 2rem;
    text-align: justify;
    padding: 0 0.5rem;
  }

  .product-buttons {
    margin: 4rem 0;
  }
  .product-button {
    margin: 0 2rem;
  }
}

@media (min-width: 1300px) {
  .product-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 600px 600px;
    grid-template-rows: 1fr repeat(3, 0.3fr);
  }

  .product-image {
    grid-row: 1 / 5;
    align-self: center;
  }

  .product-description {
    margin-top: 2rem;
    text-align: justify;
    padding: 0 0.5rem;
    align-self: center;
  }

  .product-color,
  .product-sizes {
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    grid-template-rows: 1fr;
    margin: 0;
  }

  .product-cart {
    display: flex;
    grid-column: 2;
    margin: 0 2rem;
  }

  .product-amount,
  .product-price {
    margin: 0 2rem;
  }

  .product-buttons {
    margin: 6rem 0;
  }
}
