.container {
  position: relative;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 1rem;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 204, 247, 0.9);
  border-radius: 1rem;
  transition: opacity 0.4s;
  opacity: 0;
  z-index: 2;
}

.container:hover:before {
  opacity: 1;
}

.container:hover > .svgbox {
  top: 50%;
  opacity: 1;
  transition: all 0.5s ease-in 0s;
}

.image {
  width: 100%;
}
